// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Alpha from "../../../index.js";

export declare namespace MetadataClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * API discovery and capability metadata.
 */
export class MetadataClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MetadataClient.Options>;

    constructor(options: MetadataClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {MetadataClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AlphaError}
     * @throws {@link errors.AlphaTimeoutError}
     *
     * @example
     *     await client.metadata.getApiIndex()
     */
    public getApiIndex(
        requestOptions?: MetadataClient.RequestOptions,
    ): core.HttpResponsePromise<Alpha.ApiIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getApiIndex(requestOptions));
    }

    private async __getApiIndex(
        requestOptions?: MetadataClient.RequestOptions,
    ): Promise<core.WithRawResponse<Alpha.ApiIndexResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaEnvironment.Production,
                "v1",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Alpha.ApiIndexResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AlphaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1");
    }

    /**
     * Return the live tool catalog and JSON input schemas used by both the REST API and MCP.
     *
     * @param {MetadataClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Alpha.BadRequestError}
     * @throws {@link Alpha.UnauthorizedError}
     * @throws {@link Alpha.ForbiddenError}
     * @throws {@link Alpha.NotFoundError}
     * @throws {@link Alpha.TooManyRequestsError}
     * @throws {@link errors.AlphaError}
     * @throws {@link errors.AlphaTimeoutError}
     *
     * @example
     *     await client.metadata.listTools()
     */
    public listTools(requestOptions?: MetadataClient.RequestOptions): core.HttpResponsePromise<Alpha.DataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTools(requestOptions));
    }

    private async __listTools(
        requestOptions?: MetadataClient.RequestOptions,
    ): Promise<core.WithRawResponse<Alpha.DataResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaEnvironment.Production,
                "v1/tools",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Alpha.DataResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Alpha.BadRequestError(_response.error.body as Alpha.ErrorResponse, _response.rawResponse);
                case 401:
                    throw new Alpha.UnauthorizedError(
                        _response.error.body as Alpha.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Alpha.ForbiddenError(_response.error.body as Alpha.ErrorResponse, _response.rawResponse);
                case 404:
                    throw new Alpha.NotFoundError(_response.error.body as Alpha.ErrorResponse, _response.rawResponse);
                case 429:
                    throw new Alpha.TooManyRequestsError(
                        _response.error.body as Alpha.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/tools");
    }
}
